@import "variables";

.ueberSection {
    @include section;
    background-color: $lightGray;
    @include text;    
}

.centerStageText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    font-family: $heading-font;
    color: $white;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
  }
}

.colUeber {
    text-align: justify;
    p {
        @include text;
    }
    a {
        color: $black;
        &:hover {
            color: $black;
        }
    }
}

h2 {
   @include headingTwo;
   margin-bottom: 16px !important;
}



